
.media {

    height: "40%";
}

.card {
    margin-bottom: 5px;
    text-align: center;
   

}

.cardPost{
    margin-bottom: 50px;
}

@media screen and (max-width: 1000px){
    .media {
        height: "200vh";
    
    }

    .cardPost{
        flex-direction: column;
    }
}